@import url(../comments/__container/comment__container.css);
@import url(../comments/comment/comment.css);
@import url(../comments/__blockquote/comment__blockquote.css);
@import url(../comments/__quote/comment__quote.css);
@import url(../comments/__author/comment__author.css);
@import url(../comments/__image/comment__image.css);

.comments {
    margin: 102px auto;
}

@media screen and (max-width: 1024px) {
    .comments {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 425px) {
    .comments {
        margin-top: 64px;
        margin-bottom: 48px;
    }
}
