.places__content {
  display: flex;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1080px) {
  .places__paragraph {
    margin-bottom: 84px;
  }

@media screen and (max-width: 768px) {
  .places__content {
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 425px) {
  .places__content {
    margin-bottom: 48px;
  }
}