@font-face {
  font-family: 'Inter';
  src: url(../../fonts/Inter-Regular.woff) format('woff'),
    url(../../fonts/Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Inter';
  src: url(../../fonts/Inter-Black.woff) format('woff'),
    url(../../fonts/Inter-Black.woff2) format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Inter';
  src: url(../../fonts/Inter-Bold.woff) format('woff'),
    url(../../fonts/Inter-Bold.woff2) format('woff2');
  font-weight: bold;
}

.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #2a2c2f;
  padding-top: 28px;
  padding-bottom: 24px;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
}
