.places__link {
    font-size: 18px;
    line-height: 1.2px;
    color: inherit;
    cursor: pointer;
    width: 456px;
    height: 22px;
}

.places__link:hover {
    opacity: .8;
    transition: opacity 2s linear;
  }