@import url(../header/__logo-link/header__logo-link.css);
@import url(../header/__logo-links/header__logo-links.css);

.header {
  max-width: 1184px;
  min-height: 52px;
  margin: 0 auto 56px;
  display: flex;
  justify-content: space-between;
}
