.comment__blockquote {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .comment__blockquote {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}