.footer__links {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  flex-wrap: wrap;
}

@media screen and (max-width: 425px) {
  .footer__links {
  display: flex;
  flex-direction: column;
  }
}