@import url(./__background/cover__background.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);

.cover {
  width: 100%;
  margin: 92px auto;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 88px auto;
  }
}

@media screen and (max-width: 425px) {
  .cover {
    margin: 64px auto;
  }
}