.lead__caption {
  max-width: 159px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .lead__caption {
   margin-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
   margin-left: 16px;
  }
}