.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  max-width: 560px;
  text-align: center;
  margin: 0;
  z-index: 1;
  margin-bottom: 32px;
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    max-width: 288px;
    min-height: 70px;
    margin-bottom: 16px;
  }
}
