@import url(../footer/__links/footer__links.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__copyright/footer__copyright.css);

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .footer {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        margin-left: 16px;
        margin-right: 16px;
        display: block;
    }
}