@import url(../footer/__links/footer__links.css);
@import url(../footer/__link/footer__link.css);
@import url(../footer/__copyright/footer__copyright.css);

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}